body{
    background-color: cadetblue;

}
#stbtn{
    position: absolute;

    left: 40%;
    top:30%;
}
#stbtn:hover{
    box-shadow: 40px;    
    transform: translateY(-10px);
}
#stbtn:hover:active{
    transform: translateY(14px);
}
.card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    transition-duration: 0.4s;
    max-height: 130px;
    height: 100px;
}
#deck{
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%); 
}
#used{
    /*visibility: hidden;*/    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hand{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#opp1.hand{
    top: 10%;
}
#player.hand{
    top: 90%;
}
#player >.card.usable:hover{
    box-shadow: 40px;
    background-color: #3e8e41;
    transform: translateY(-14px);
}

#player >.card.usable:hover:active {
    background-color: #3e8e41;
    box-shadow: 0 8px #666;
    transform: translateY(14px);
}
